{% extends '/admin/layout.html.twig' %}

{% block title %}Ajouter une track{% endblock %}

{% block content %}

{% include '/admin/unallowedAccess.html.twig' %}

    <h1>Ajouter une nouvelle track</h1>
    {% include 'admin/Track/_form.html.twig' %}

{% endblock %}