 {% extends '/admin/layout.html.twig' %}
 
{% block content %}

    {% include '/admin/unallowedAccess.html.twig' %}

    <h1> Modifier la track {{ track.name }}</h1>

    {% include 'admin/Track/_form.html.twig' %}

    <a href="admin/tracks/show?id={{ track.id }}">Retour</a>

{% endblock %}
