 {% extends '/admin/layout.html.twig' %}
 
{% block content %}

    <div id="contenu-admin-track-add">

        {% block header %}{% include "admin/header.html.twig" %}{% endblock %}
        {% include '/admin/unallowedAccess.html.twig' %}

            <h1> Modifier la track </h1>

        <div id="contenu-track-edit">

            <div id="track-edit-left">

                {% include 'admin/Track/_form.html.twig' %}
            </div>

            <div id="track-edit-right">
                <h2>Ajouter à la playlist</h2>
                {% include 'admin/Track/addplaylist.html.twig' %}

                <a href="admin/tracks/show?id={{ track.id }}"><button class="buttons">Retour</button></a>
            </div>
        </div>
    </div>

{% endblock %}
