{% block footer %}

        <footer>

            <div id="footer">
                <a href="/admin/logout"><div id="logout">Log out</div></a>
                &copy; Copyright 2021 • Made with ❤ by Alice, Léna & Johan
            </div>

        </footer>

{% endblock %}