 {% block content %}

      {% block header %}

    <nav>
        <div id="nav-left">
            <a href="/admin"><img class="wr" src="\assets\images\Wild-Radio-Noir-OK.png"></a>

            <a href="/admin/tracks">Tracks</a>

            <a href="/admin/playlists"> Playlists</a>

            <a href="/admin/tracks/flux">Flux</a>

        </div>

        <div id="nav-right">    
            <a href="/"><button id="btn-nav-admin">Voir le site</button></a>

        </div>    

    </nav>
    <div id="ligne">
    </div>



    {% endblock %}
 {% endblock %}