 {% block content %}
 
     <video class="sunset"  playsinline autoplay muted loop> 
<source src="\assets\images\Sunset.mp4" type="video/mp4">
</video>

      {% block header %}

    <nav>

        <div>
            <a href="/"><img class="wr" src="\assets\images\Wild-Radio-Noir-OK.png"></a>
        </div>

        <div id="playlist">
            <a href="playlists"> Playlists</a>
        </div>

        <div id="contact">    
            <a href="contact">Tracks</a>
        </div>    
    </nav>
    <div id="ligne">
    </div>



    {% endblock %}
 {% endblock %}