{% extends '/admin/layout.html.twig' %}

{% block title %}Administrateur - Home{% endblock %}

{% block content %}

{% include '/admin/unallowedAccess.html.twig' %}


<h1> Bienvenue dans l'espace administrateur</h1>

    <a href="/admin/tracks"><button class="buttons">Mes tracks</button></a>
    <a href="/admin/playlists"><button class="buttons">Mes playlists</button></a>
    <a href="/admin/tracks/flux"><button class="buttons">Mon flux</button></a>

{% endblock %}
