<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/assets/css/admin.css">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"/>


    <title>{% block title %}{% endblock %}</title>

    {% block stylesheet %}{% endblock %}

    {% block script %}{% endblock %}

</head>

<header>

</header>

{% block content %}
<body>

     {% block header %}{% endblock %}

    {% block javascript %}{% endblock %}

</body>



 {% endblock %}

{% block footer %}
    {% include "admin/footer.html.twig" %}
{% endblock %}



</html>
