{% extends 'layout.html.twig' %}

{% block title %}WILD RADIO{% endblock %}

{% block content %}

<div class="PageGauche">
    <h1>WILD Radio</h1>


    <p> « Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Sed non risus. Suspendisse lectus tortor..."</p>

  
    <a href=""><button class="button">playlist 1</button></a>
    <a href=""><button class="button">playlist 2</button></a>

    <a href=""><button class="button">Voir toutes nos playlists</button></a>
    
</div>

<div class="PageDroite" >


</div>

{% endblock %}

