 {% extends 'layout.html.twig' %}

{% block title %}WILD RADIO{% endblock %}

 {% block content %}


<h1> WILD RADIO</h1>

<p> description  ❤ ❤ ❤ ❤ </p>

<div>
<a href="/home/playlist"><button class="buttons">Playlist 1</button></a>
<a href="/home/playlist"><button class="buttons">Playlist 2</button></a>

<a href="home/catalogue"><button class="buttons">Toutes nos playlists</button></a>
</div>
{% endblock %}
