*{
    margin: 0px;
    padding: 0px;
    font-size: 18px;   
}*

h1{
    color:whitesmoke;
    text-transform: uppercase;
    font-size: 30px;
}

h2 {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 400;
}

p{
    color: whitesmoke;
}

a{
    text-decoration: none;
}


button {
    cursor:pointer;
    padding: 2%;
    border: none;
    border-radius: 5px;
    color: whitesmoke;
    text-transform: uppercase;
}


/* CSS du background video */

body{
    margin-left: 0px;
    margin-right: 0px;
    background-color: #F39F81;
}
.sunset{
    position: fixed;
    justify-content:center;
    z-index: -1;
    width: 100%;
    height: auto;
}

/* CSS du header */

.wr{              
    width: 70px;
}

nav{                   
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;

}

#playlist{
    margin-right: 20px;
}

#contact{
    margin-left: 20px;
}

#ligne{                
    margin-left: 10%;
    margin-right: 10%;
    background-color: whitesmoke;
    height: 1px;
}

nav a{
    text-decoration: none;
    color: whitesmoke;          
}

/*CSS du contenu de la homepage*/

.contenu-homepage {
    margin-top: 10vh;
    margin-left: 10%;
    margin-right: 10%;

    display: flex;
    flex-direction: row;
}

#description{
    display:block;
    text-align:left;
    color:whitesmoke;
    margin-top: 40px;
}

/* CSS bouttons playlist2 playlist2 et "Voir tout"*/

button:hover{
    background:transparent;
   
}

#BTS {display: flex;
     justify-content:flex-start;
     flex-direction: row;
     margin-left: 130px;  
     margin-top: 20px;   
}


.play1{
  
    padding:5px;
    
    text-align: center;
    text-transform: uppercase;
    background:transparent;
    border-color: whitesmoke;
    border-radius: 10px;
 }

 .play2{
  
    padding:5px;
    text-align: center;
    text-transform: uppercase;
    background:transparent;
    border-color: whitesmoke;
    border-radius: 10px;
    margin-left: 30px;
 }
 
 .Voir{

    padding:5px;
    text-align: center;
    text-transform: uppercase;
    background:transparent;
    border-radius: 10px;
    background-color:#F39F81;
    border:none;
    margin-left: 130px; 
    margin-top:10px;
 }



/* CSS du côté gauche de homepage */

#left-homepage{
    width: 50%;
}

#wildradio{
    color: whitesmoke;
}

#wild{
    font-size: 4em;
}

#radio{
    font-size: 4em;
    font-style: italic;
    line-height: 55px;
    padding-left: 15%;
}

#description{
    margin-top: 5%;
}

/* CSS de la partie Playlists homepage */

#playlists-homepage {
    margin: 2% 10% 0 10%;
    width: 40%;
}

#buttons-playlists {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    width: 100%;
}

#button-playlists {
    width: 30vh;
    border:solid 1px white;
    background: rgba(255, 255, 255,0);
}

#button-playlists:hover{
    border:none;
    background: #F39F81;
}

#button-allplaylists {
    margin-top: 5%;
    width: 100%;
    background: #F39F81;
}
#button-allplaylists:hover {
    border:solid 1px white;
    background: rgba(255, 255, 255,0); 
}

/* CSS du côté droit de la page : player */

#right-homepage {
    width: 50%;
}

audio { 
    display: none;
}

#player {
    color: whitesmoke;
    margin-top: 20vh; 
}

#bouton-play-texte {
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
}

#action {
    font-size:4em;
    margin-right: 20px;
    text-transform: uppercase;
}

#play {
    font-size: 6em;
}

.current-song{
    display: none;
}

#infosTrack {
    display: none;
}

/* CSS de la page Contact */

#contenu-contact {
    background-color: #F39F81;
    display: flex;
    flex-direction: row;
}

#contenu-left-contact {
    padding-top: 10vh;
    padding-bottom: 10vh;
    width: 50%;
    background-color: #4A517E;
    height: 100%;
}

#contact-left {
    padding-left: 20%;
    padding-right: 10%;
}

#image-front {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 5px;
}

#contact-left p {
    margin-top: 20px;
}

#contenu-right-contact {
    padding-top: 10vh;
    padding-bottom: 10vh;
    width: 50%;
}

#contact-right {
    padding-left: 10%;
    padding-right: 20%;
    color: whitesmoke;
}

#input-form{
    border: solid 1px white;
    border-radius: 5px;
    background: none;
    height: 35px;
    width: 100%;
    margin-bottom: 10px;
} 

input::placeholder {
    padding-left: 15px;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.493);
}

input:focus {
    padding-left: 15px;
    font-size: 16px;
    color: whitesmoke;
}

textarea {
    height: 300px;
    width: 100%;
    border: solid 1px white;
    border-radius: 5px;
    background: none;
}

textarea::placeholder {
    padding-left: 15px;
    padding-top: 5px;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.493);
}

textarea:focus {
    padding-left: 15px;
    padding-top: 5px;
    font-size: 16px;
    color: whitesmoke;}

#form-contact {
    margin-top: 20px;
}

#btn-send-msg {
    margin-top: 10px;
    background-color: #4A517E;
    justify-content: right;
}

#icones {
    width: 20px;
    height: 20px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(226deg) brightness(105%) contrast(101%);
}

/* CSS responsive (min-width: 1023px)*/

@media screen and (max-width: 1050px) {

    body {
        background-color: #F39F81;
    }

    .sunset{
        position: fixed;
        z-index: -1;
        width: auto;
        height: 100%;
    }

    .contenu-homepage {
        margin-top: 2vh;
        margin-left: 10%;
        margin-right: 10%;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #wild{
        font-size: 2em;
    }
    
    #radio{
        font-size: 2em;
        font-style: italic;
        line-height: 45px;
        padding-left: 15%;
    }
    #left-homepage {
        width: 100%;
    }

    #playlists-homepage {
        margin-top: 0px;
        display:flex;
        flex-direction:column;
        width: 80%;
    }

    #buttons-playlists {
        display: flex;
        flex-direction:column;
        margin-top: 5%;
    }

    #button-playlists{
        width: 100%;
        margin-top: 5%;
    }

    #player {
        color: whitesmoke;
        text-align: center;
        margin-top: 5vh;
    }

}