*{
    margin: 0px;
    padding: 0px;
    font-size: 18px;   
}*

a{
    text-decoration: none;
}



/* CSS du background video */

body{
    margin-left: 0px;
    margin-right: 0px;
}
.sunset{
    position: fixed;
    z-index: -1;
    width: 100%;
    height: auto;
}

/* CSS du header */

.wr{              
    width: 70px;
}


nav{                   
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#playlist{
    margin-right: 20px;
}

#contact{
    margin-left: 20px;
}

#ligne{                
    margin-left: 10%;
    margin-right: 10%;
    background-color: whitesmoke;
    height: 1px;
}

nav a{
    text-decoration: none;
    color: whitesmoke;          
}

/*CSS du contenu de la homepage*/

#description{
    display:block;
    text-align:left;
    color:whitesmoke;
    margin-top: 40px;
}

/* CSS bouttons playlist2 playlist2 et "Voir tout"*/

button:hover{
    background:transparent;
   
}

#BTS {display: flex;
     justify-content:flex-start;
     flex-direction: row;
     margin-left: 130px;  
     margin-top: 20px;   
}


.play1{
  
    padding:5px;
    
    text-align: center;
    text-transform: uppercase;
    background:transparent;
    border-color: whitesmoke;
    border-radius: 10px;
 }

 .play2{
  
    padding:5px;
    text-align: center;
    text-transform: uppercase;
    background:transparent;
    border-color: whitesmoke;
    border-radius: 10px;
    margin-left: 30px;
 }
 
 .Voir{

    padding:5px;
    text-align: center;
    text-transform: uppercase;
    background:transparent;
    border-radius: 10px;
    background-color:#F39F81;
    border:none;
    margin-left: 130px; 
    margin-top:10px;
 }


/* CSS du côté gauche de homepage */

#left-homepage{
    padding-left: 10%;
    width: 40%;
}

#wildradio{
    color: whitesmoke;
}

#wild{
    font-size: 6em;
}

br{
    line-height: 5px;
}

#radio{
    font-size: 6em;
    font-style: italic;
    line-height: 55px;
    padding-left: 15%;
}

/* CSS du player */

audio { 
    display: none;
}

#player {
    color: whitesmoke;
    display: flex;
    justify-content: center;
    margin-left: 300px;
    margin-top: -30px;
    
   


}

#play {
    font-size: 6em;
}

#infosTrack {
    display: none;
}


/* CSS de description page home*/


h2{ text-align: center;
    color: whitesmoke;
}

                        
p{  display: block;
    color: whitesmoke;
    margin-left: 30px;
    font-size: x-large;
    font-size: 18px;
    margin: 15px;
    text-align:left;
    
}


/* boutton 'envoyer' page contact*/



button:hover{
    background-color:#4A517E ; 
}


.env{
    width: 10%;
    color: white;
    font-size: 15px;
    padding: 5px;
    background-color:#F39F81;
    border-radius: 10px;
    text-transform: uppercase;
    margin:auto;
    display:block;    
    border-color:none;
}


.PageGauche{
  min-height: 100%;
    background-color: #4A517E;
}

.PageDroite{
    background-color:#F39F81;
}