 {% extends '/admin/layout.html.twig' %}

{% block title %}Créer une nouvelle playlist{% endblock %}

{% block content %}

    <h1>Créer une nouvelle playlist</h1>
    {% include 'admin/Playlist/form.html.twig' %}

{% endblock %}