 {% extends '/admin/layout.html.twig' %}
 
{% block content %}


    <div id="contenu-admin-playlist-add">

        {% block header %}{% include "admin/header.html.twig" %}{% endblock %}
         
            <h1> Modifier la playlist </h1>

    <div id="contenu-playlist-edit">

    <div id="playlist-edit-left">

        {% include 'admin/Playlist/form.html.twig' %}

        
    <div>
	    <a href="/admin/playlists"><button class="buttons">Ajouter </button></a>
    </div>

    <div>
	    <a href="/admin/playlists"><button class="buttons">Retour </button></a>
    </div>
  
    </div>
        
    <div id="playlist-edit-right">
        
        <h2>Les tracks</h2><br>

    
        <ol id="playlist"> 
        {% for track in tracksInPlaylist %}
          <ul><strong>{{track.title}}  </strong>- {{track.artist}} </br>{{track.album}}</ul>
        {% endfor %}
        </ol>

            </div>
        </div>
    </div>
      
    {% endblock %}

