 {% extends '/admin/layout.html.twig' %}
 
{% block content %}
  
        {% block header %}{% include "admin/header.html.twig" %}{% endblock %}
    
    <div id="contenu-admin-tracks">

    <h1> Modifier la playlist </h1>

            <div id="playlist-edit-left">

        {% include 'admin/Playlist/form.html.twig' %}

       <a href="/admin/playlists/show?id={{ playlist.id }}"><button id="retour">Retour</button></a>

    </div>
        
    <div id="playlist-edit-right">
        
        <h2>Les tracks</h2><br>

    
        <ol id="playlist"> 
          {% for track in tracksInPlaylist %}
           <ul><strong>{{track.title}}</strong> - {{track.artist}} </br>{{track.album}}</ul>
        {% endfor %}
        </ol>

     </div>

        
    </div>
      
{% endblock content %}

