 {% extends '/admin/layout.html.twig' %}
 
{% block content %}

    <div id="contenu-admin-track-add">

            {% block header %}{% include "admin/header.html.twig" %}{% endblock %}

    <h1> Editer la playlist {{ playlist.name }}</h1>

        <div id="contenu-track-edit">

            {% include '/admin/Playlist/form.html.twig' %}

        </div>
        
    </div>
    
{% endblock %}
