{% extends '/front/layout.html.twig' %}

{% block content %}
{% block background %}{% include "front/background.html.twig" %}{% endblock %}
{% block header %}{% include "front/header.html.twig" %}{% endblock %}

<div class="contenu-homepage">

<<<<<<< HEAD
<h2> Toutes nos playlists</h2>
    
<p> Ecoutez nos playlists créees avec ❤ </p>

<div class="allPlaylists"> {% for playlist in playlists %}
    <div class="OnePlaylist">  
        
        <div> <a href="/playlist/show?id={{playlist.id}}?>"><img class="imgPlaylistCarre" src="{{playlist.img}}"> </img></a></div>
         <a href="/playlist/show?id={{playlist.id}}?>"> <h3> {{playlist.name}}</h3> </a>
        
    <div> 
    {% endfor %}
</div> 
=======
<h1> Toutes les playlists</h1>
<p> Ecoutez nos playlists créees avec ❤ </p>

</div>
>>>>>>> 5b28b9d24d9a63e48ddd91303da0bc69b53ffb96

{% endblock %}

