 {% extends '/front/layout.html.twig' %}

{# PAGE DE GAUCHE #}

{% block content %}
{% block background %}{% include "front/background.html.twig" %}{% endblock %}
{% block header %}{% include "front/header.html.twig" %}{% endblock %}

<div class="contenu-homepage">

<h1> Toutes les playlists</h1>
<p> Ecoutez nos playlists créees avec ❤ </p>

</div>

{% endblock %}

