 {% extends '/front/layout.html.twig' %}

{# PAGE DE GAUCHE #}

{% block content %}

{% block header %}{% include "front/header.html.twig" %}{% endblock %}


<div class="PageGauche">

<h2> Toutes nos playlists</h2>
<p> Ecoutez nos playlists créees avec ❤ </p>
<img class="imgplaylist" src="">
<img class="imgplaylist" src="">
<img class="imgplaylist" src="">
<img class="imgplaylist" src="">
<img class="imgplaylist" src="">
<img class="imgplaylist" src="">
<img class="imgplaylist" src="">
<img class="imgplaylist" src="">

</div>

<div class="PageDroite">



</div>
{% endblock %}

