{% extends 'layout.html.twig' %}

{% block title %}Catalogue Playlist{% endblock %}

{% block content %}
<h1> </h1>
<p> </p>

{# 
 - afficher dynamiquement les playlists avec boucle php 

 boucle et afficher 
 <div> 
 $playlist.image 
 $playlist.name
 </div> 

 - utiliser bootrsrap pour la mise en page
#} 


    
{% endblock %}