
 {% extends '/front/layout.html.twig' %}

{% block title %}CONTACT{% endblock %}

    {% block content %}
    
    {% block header %}
        {% include "front/header.html.twig" %}
    {% endblock %}

<div id="contenu-contact">

{# PAGE DE GAUCHE #}

    <div id="contenu-left-contact">
        <div id="contact-left">

            <img id="image-front"
                src="/assets/images/eva-wild.jpeg"
                alt="Photo d'Eva Wild">


            <h1>Eva Wild 
                <img id="icones" src="/assets/images/facebook.svg">
                <img id="icones" src="/assets/images/instagram.svg">
            </h1>

                <p>Eva Wild, née le 2 décembre 1981 à McComb (Mississippi), est une chanteuse, danseuse, actrice et femme d'affaires américaine.

Après une carrière d'enfant-star , Eva Wild se lance dans la musique et se fait connaître mondialement en 1998 grâce au titre ...Baby One More Time, qui est l'un des singles les plus vendus au monde. Elle a sorti depuis neuf albums studio, dont sont notamment extraits les morceaux Womanizer, Hold It Against Me et 3, qui se sont classés numéro un au Billboard Hot 100. Son titre Toxic lui rapporte le Grammy Award de la meilleure chanson dance en 2004.

Vous ne voyez aucun rapport avec la WildRadio ? C'est normal. Mais on aime Britney. </p>

        </div>
    </div>

{# PAGE DE DROITE #}

    <div id="contenu-right-contact">

        <div id="contact-right">

            <h1> Prenons contact </h1>

    <form name ="form-contact" id="form-contact" method="post" action="/contact">
        
        <input id="input-form" type="text" name="name" placeholder="Nom et prénom" required><br>

        <input id="input-form" type="email" name="email" placeholder="E-mail" required><br>
        
        <input id="input-form" name="user_subject" placeholder="Objet">

        <textarea name="message" required></textarea><br>

        <button id="btn-send-msg" type="submit">Envoyer le message</button>

    </form>

{% endblock %}

