 {% extends '/front/layout.html.twig' %}


{% block title %}CONTACT{% endblock %}

{# PAGE DE GAUCHE #}

    {% block content %}

    {% block header %}
        {% include "front/header.html.twig" %}
    {% endblock %}


<div id="contenu-contact">

    <div id="contenu-left-contact">
        <div id="contact-left">

            <img id="image-front"
                src="/assets/images/eva-wild.jpeg"
                alt="Photo d'Eva Wild">


            <h1>Eva Wild 
                <img id="icones" src="/assets/images/facebook.svg">
                <img id="icones" src="/assets/images/instagram.svg">
            </h1>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque mauris justo, tincidunt sit amet feugiat eget, bibendum a urna. Integer ornare ligula purus, pretium imperdiet nisi maximus ac. Mauris maximus venenatis leo, in porta turpis tempor et. Curabitur tempus, magna vel tristique tempus, massa massa aliquet orci, non pretium turpis metus ornare nisl. Curabitur ac est mi. Nulla ultrices turpis vitae feugiat placerat. Sed mollis porta nibh, at feugiat nisi venenatis ut. Suspendisse convallis laoreet massa et pulvinar. Nunc a sapien et massa blandit molestie.
                </p>

        </div>
    </div>

{# PAGE DE DROITE #}

    <div id="contenu-right-contact">

        <div id="contact-right">

            <h1> Prenons contact </h1>

            <form id="form-contact" action="/contact" method="post">

            <div>
                <label for="name"></label>
                <input id="input-form" type="text" id="name" name="user_name" placeholder="Nom et prénom">
            </div>

            <div>
                <label for="mail"></label>
                <input id="input-form" type="email" id="mail" name="user_mail" placeholder="E-mail">
            </div>

            <div>
                <label for="objet"></label>
                <input id="input-form" name="user_objet" placeholder="Objet"></input>
            </div>
    
            <div>
                <label for="msg"></label>
                <textarea name="user_message" placeholder="Écrire le message"></textarea>
            </div>

              <div>
                <button id="btn-send-msg" type="submit">Envoyer le message</button>
            </div>

            </form>
        
        </div>
    </div>

</div>
{% endblock %}

