 {% block content %}
 
     <video class="sunset"  playsinline autoplay muted loop> 
<source src="\assets\images\Sunset.mp4" type="video/mp4">
</video>

      {% block header %}

    <nav>
        <div id="playlist">
            <a href="playlists"> Playlists</a>
        </div>

        <div>
            <a href="/"><img class="wr" src="\assets\images\Wild-Radio-Blanc-BD.png"></a>
        </div>

        <div id="contact">    
            <a href="contact">Contact</a>
        </div>    
    </nav>
    <div id="ligne">
    </div>



    {% endblock %}
 {% endblock %}