 {% block content %}

      {% block header %}

<nav>
    <div id="nav-content">
        <div id="playlist">
            <a href="/playlists"> Playlists</a>
        </div>

        <div>
            <a href="/"><img class="wr" src="\assets\images\Wild-Radio-Blanc-OK.png"></a>
        </div>

        <div id="contact">    
            <a href="/contact">Contact</a>
        </div>    

    </div>
        <div id="ligne"></div>
</nav>




    {% endblock %}
 {% endblock %}