{% extends '/front/layout.html.twig' %}

{% block title %}WILD RADIO{% endblock %}

{% block content %}


{% block header %}{% include "front/header.html.twig" %}{% endblock %}

<body>
    <div id="contenu-homepage">
        <div id="left-homepage">

            <h1 id="wildradio">
                <span id="wild">WILD</span>
                <span id="radio">RADIO</span></h1>

            <p id="description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vitae ligula lectus. Morbi diam ligula, tincidunt vitae nisi vitae, tempor ultrices quam. Aliquam porttitor eros mauris, vitae varius diam ultrices a.</p>

            <div id="playlists-homepage">
                <a href="/playlist"><button id="button-playlists">► Playlist 1</button></a>
                <a href="/playlist"><button id="button-playlists">► Playlist 2</button></a>
            </div>

                <a href="/playlists"><button id="button-allplaylists">Écouter toutes nos playlists</button></a>

        </div>



        <div id="right-homepage">
            <audio controls id="audioPlayer"></audio>

            <div id="player">
                <div>
                    <i id="play" class="fa fa-play"></i>
                </div>
                <div id="infosTrack">
                    {% for track in tracks %}

                    <p>Artiste : {{ track.artist }}</p>
                    <p>Titre : {{ track.name }}</p>

                    {% endfor %}

                </div>
            </div>

                <ul id="playlist">
                    {% for track in tracks %}
                    <li class="current-song">
                        <a href="{{ track.mp3 }}"> </a>
                    </li>
                    {% endfor %}
                </ul>
        </div>
        {% block javascript %} 

            <script src="/assets/js/playerFlux.js"></script>
            <script>
                audioPlayer();
            </script>

        {% endblock %}

    </div>
</body>
{% endblock %}