{% extends 'layout.html.twig' %}

{% block title %}WildRadio{% endblock %}

{% block content %}

   <h1> Wild Radio </h1>
    
        <audio controls id="audioPlayer"></audio>

        <div id="player">
            <div>
                <i id="play" class="fa fa-play"></i>
            </div>
            <div id="infosTrack">
                {% for track in tracks %}

                <p>Artiste : {{ track.artist }}</p>
                <p>Titre : {{ track.name }}</p>

                {% endfor %}

            </div>
        </div>

        <ul id="playlist">
            {% for track in tracks %}
            <li class="current-song">
                <a href="{{ track.mp3 }}"> </a>
            </li>
            {% endfor %}
        </ul>

{% endblock %}

{% block javascript %} 
    <script src="/assets/js/playerFlux.js"></script>
    <script>
        audioPlayer();
    </script>

{% endblock %}