{% extends '/front/layout.html.twig' %}

{% block title %}WILD RADIO{% endblock %}

{% block content %}


{% block header %}{% include "front/header.html.twig" %}{% endblock %}

<body>
    <div id="contenu-homepage">
        <div>

            <h1 id="wildradio">
                <span id="wild">WILD</span>
                <span id="radio">RADIO</span></h1>

            <p id="description"> description  ❤ ❤ ❤ ❤ </p>

            <div>
                <a href="/playlist"><button class="buttons">Playlist 1</button></a>
                <a href="/playlist"><button class="buttons">Playlist 2</button></a>

                <a href="/playlists"><button class="buttons">Toutes nos playlists</button></a>
            </div>
        </div>



        <div>
            <audio controls id="audioPlayer"></audio>

            <div id="player">
                <div>
                    <i id="play" class="fa fa-play"></i>
                </div>
                <div id="infosTrack">
                    {% for track in tracks %}

                    <p>Artiste : {{ track.artist }}</p>
                    <p>Titre : {{ track.name }}</p>

                    {% endfor %}

                </div>
            </div>

                <ul id="playlist">
                    {% for track in tracks %}
                    <li class="current-song">
                        <a href="{{ track.mp3 }}"> </a>
                    </li>
                    {% endfor %}
                </ul>
        </div>

        {% block javascript %} 
            <script src="/assets/js/playerFlux.js"></script>
            <script>
                audioPlayer();
            </script>

        {% endblock %}

    </div>
</body>
{% endblock %}
