{% extends 'layout.html.twig' %}

{% block title %}PLAYLISTS{% endblock %}

{# PAGE DE GAUCHE #}

  {% block content %}


  {% block header %}{% include "front/header.html.twig" %}{% endblock %}


  <div class="PageGauche"> 
		<img class="imgplaylist" src=""
	<a href="home/playlist"><button class="buttons">Playlist</button></a>
		
		<h2>Nom_de_la_playlist </h2>
		<p> description playlist</p> 
</div> 



 <div class="PageDroite"> 

</div> 
{% endblock %}