{% extends 'layout.html.twig' %}

{# PAGE DE GAUCHE #}

{% block content %}
<div class="PageGauche">

<h1> Toutes nos playlists</h1>
<p> Ecoutez nos playlists créees avec ❤ </p>
<img class="imgplaylist" src="">
<img class="imgplaylist" src="">
<img class="imgplaylist" src="">
<img class="imgplaylist" src="">

</div>

<div class="PageDroite">



</div>
{% endblock %}

