{% extends 'layout.html.twig' %}

{% block title %}PLAYLISTS{% endblock %}

{# PAGE DE GAUCHE #}

  {% block content %}
  <div class="PageGauche"> 
		<img class="imgplaylist" src=""
		<button> <a href="playlist">play</a></button>
		<h1>Nom_de_la_playlist </h1>
		<p> Description playlist </p> 
</div> 



 <div class="PageDroite"> 
		<tr> $track1.name . $track1.artist. $track1.album </tr> <tr>$track1.duration </tr>
		<tr> $track1.name . $track1.artist. $track1.album </tr> <tr>$track1.duration </tr>
		<tr> $track1.name . $track1.artist. $track1.album </tr> <tr>$track1.duration </tr>
</div> 
{% endblock %}